
/* TOP NAV */
/*-- tentar transformar h1 e h2 num só para o float acontecer direito funcionou */
@import "variaveis";
   .container{
		 width: 100%;
		 float: left;
		 margin-right: 0;
		 clear: right;
     /* makes the bar move from right to left position: absolute;*/
}

	  .container h1{
		border-top: none;
		border-bottom: 5px solid black;
		padding-left: 9%;
    padding-right: 10%;
		padding-top: 5%;
		padding-bottom:1%;
		font-family: $font-stack;
    font-weight:400;
		font-size: 26pt;
	}

    .container h2{
		border-top: none;
		padding-left: 9%;
		padding-top: 1%;
		padding-bottom:2%;
		font-family: $font-stack;
		font-size: 16pt;
  }

.container img {
  width: 5%;
  position: absolute;
  left: 30px;
  top: 50px;
}


.container #burger img {
  width: 3%;
  left: 92%;
  top: 7%;
  position: absolute;

}

.container #pt {
	font-family: sans-serif;
  width: 5%;
  left: 84%;
	font-family: $font-stack;
	font-size: 12pt;
  position: absolute;
  top: 7%;
}

.container #pt p{
  font-size: 12pt;
}

.container a:link{
  text-decoration: none;
}

.container a:visited{
  text-decoration: none;
}
