@import "reset";
@import "variaveis";
@import "partial";
@import "modelo";

body{
  height: 100vh;
  border: 8px solid black;
}

.corpo{

p {
    width: 20%;
    height: 30%;
    line-height:30pt;
    margin-top: 22%;
    text-align: center;
  }
}
