@import "reset";
@import "variaveis";

body{
  border: 8px solid black;

}

@import "partial";




.containers{
  padding-top: 12em;
  margin-left: 20em;
  width: 55%;
  height: auto;
  ;


  img{
    position: relative;
    padding-top: 5em;
    width: 45%;
    float: right;

  }

  h1{
    position: relative;
    padding-top: 1em;
    left: 2%;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 45pt;
    float: left;
  }


  p{
    font-family: $font-stack;
    padding-left: 1.5em;
    text-align: justify;
    width: 50%;
    line-height: 26pt;
    margin-top: 15em;
  }
}

.upnext{
  margin-top: 10em;
  margin-left: 10em;

  h2{
    font-family: $font-stack;
    font-weight: bold;
    font-size: 24pt;
    padding-bottom: 2%;
    margin-bottom: 3em;
    border-bottom: 2px solid black;
  }
}
