

@import "reset";
@import "partial";
@import "variaveis";

body{
  height: 100vh;
  border: 8px solid black;

}


/*slideshow*/
.slideshow-container {
  width: 64%;
  margin-right: 0;
  clear: right;
}

.slideshow-container img{
  padding-top: 4em;
}


.dot{
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* sem slide show
.evento img{
  float: left;
  position: relative;
  padding-top: 8%;

}
*/
/* menu do lado com eventos futuros deve estar ao lado da imagem  */


.container3{
  position: absolute;
  width: 36%;
  height: 63%;
  top: 30%;
  left: 63.5%;


nav {
  padding-top: 4%;
  padding-bottom:  4%;
  border: solid 5px black;
  border-right: none;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav li h3 {
  font-family: $font-stack;
  font-size: 18pt;
  padding-left: 10%;
}

nav img {
  width: 45%;
  padding-left: 30%;
  margin-left: 3%;
  margin-top: 3%;
}
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
